<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".MerchantSummaryActivity"></activity>
        <activity android:name=".MakeDeliverActivity" />
        <activity android:name=".DriverNoticeActivity" />
        <activity android:name=".MerchantDisplayOrder" />
        <activity android:name=".AddOnActivity" />
        <activity android:name=".MerchantMainMenuActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".DeliveryLoginActivity" />
        <activity android:name=".MerchantLoginActivity" />
        <activity android:name=".MerchantMenuActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".TakeoutActivity" />
        <activity android:name=".OptionActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".DeliverActivity" />
        <activity android:name=".PlaceAnOrder" />
        <activity android:name=".Menu2Activity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Pop"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>